<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>0521_NavigationViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00A129941ED160AC007C0C35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00A129A81ED160AC007C0C35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00A129B31ED160AC007C0C35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
